<!DOCTYPE html>
<html>
  <head>
	<style>
	body {
          	background-color: yellow;
      	}
      	p {
		margin-top: 100px;
		margin-left: 75px;
		margin-right: 75px;
		font: 15px arial, sans-serif;
	}
	h1 {
        	border: 2px solid green-yellow;
		font-size: 36px;
	        text-align: center;
      	}
      	h2 {
        	text-align: center;
      	}
	.greenParagraph {
        	color: green;
      	}
      	#purpleParagraph {
        	color: purple;
      	}
	</style>
  </head>
  <body>
    <header>


    <main>

    </main>

  <footer>

</footer>
  </body>
</html>

